<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="single-box">
          <h2><span>Médnine Company Car Services</span></h2>
          <p>
            De l’entretien de routine aux réparations complexes, nos techniciens
            experts assurent précision et fiabilité dans chaque travail.
            Choisissez MCCS pour un entretien automobile de premier ordre.
          </p>
        </div>
      </div>
      <div class="col-lg-8 col-sm-6">
        <div class="single-box">
          <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">A propos</a></li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="col-lg-5 col-sm-6">
        <div class="single-box">
          <p>© 2024 MCCS. Tous droits réservés</p>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div class="single-box">
          <div class="media2">
            <a href="https://www.facebook.com/"
              ><ion-icon name="logo-facebook"></ion-icon
            ></a>
            <a href="https://www.instagram.com/"
              ><ion-icon name="logo-instagram"></ion-icon
            ></a>
            <a href="https://www.linkedin.com/"
              ><ion-icon name="logo-linkedin"></ion-icon
            ></a>
            <a href=""><ion-icon name="link"></ion-icon></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
