<section class="s0"></section>
<header>
  <div class="a">
    <h1>Médnine Company Car Services</h1>
    <h6>Service de première qualité à Mednine</h6>
    <a href=".contact">
      <button type="button" class="btn btn-dark">Contact</button></a
    >
  </div>
</header>
<section class="s1">
  <div class="row">
    <div class="col">
      <div class="propos">
        <h2><span>À propos de nous</span></h2>
        <p>
          Bienvenue chez <span>Médnine Company Car Services</span>, votre
          partenaire de confiance dans le monde des services de voiture
          exceptionnels depuis 2022. Notre engagement consiste à redéfinir
          l'expérience automobile en offrant une gamme complète de services
          exceptionnels. <br />
          <span>Fiabilité</span> : Notre équipe de techniciens qualifiés se
          consacre à fournir des services de réparation rapides et fiables pour
          ramener votre véhicule à son meilleur état. <br />
          <span>Professionnalisme </span>: Faites confiance à nos professionnels
          compétents pour prendre en charge les besoins spécifiques de votre
          voiture. Leur expertise garantit des interventions précises et
          efficaces. <br />
          <span>Transparence </span>: Notre engagement envers la transparence se
          manifeste à travers des diagnostics précis et des devis clairs. Nous
          nous assurons que vous comprenez chaque étape du processus de
          réparation. <br />
          Faites confiance à <span>MCCS</span> pour prendre soin de votre
          véhicule, vous assurant ainsi une conduite en toute sécurité.
        </p>
      </div>
    </div>
    <div class="col">
      <img src="../../assets/tires.webp" alt="" />
    </div>
  </div>
</section>
<!--Sevices-->

<section class="s3">
  <div class="wrapper">
    <h1>Nos Services</h1>
    <p>
      <span>Médnine Company Car Services</span> couvre tous les domaines de
      l’entretien réparation : <br />
      vidange, révision, pneus, freinage, climatisation, batterie, visibilité,
      pré-contrôle technique, recherche de pannes mécaniques.
    </p>

    <div class="content-box">
      <div class="card">
        <img src="../../assets/engine-oil.png" alt="" />
        <h2><span>Vidange</span></h2>
      </div>
      <div class="card">
        <img src="../../assets/car-wheel.png" alt="" />
        <h2><span>Pneumatique</span></h2>
      </div>
      <div class="card">
        <img src="../../assets/brake.png" alt="" />
        <h2><span>Freinage</span></h2>
      </div>
      <div class="card">
        <img src="../../assets/freezer.png" alt="" />
        <h2><span>Climatisation</span></h2>
      </div>
      <div class="card">
        <img src="../../assets/car-battery.png" alt="" />
        <h2><span>Batterie</span></h2>
      </div>
      <div class="card">
        <img src="../../assets/wiper.png" alt="" />
        <h2><span>Visibilité</span></h2>
      </div>
      <div class="card">
        <img src="../../assets/exhaust-pipe.png" alt="" />
        <h2><span>Echappement</span></h2>
      </div>
      <div class="card">
        <img src="../../assets/notes.png" alt="" />
        <h2><span>Controle Technique</span></h2>
      </div>
      <div class="card">
        <img src="../../assets/wrench.png" alt="" />
        <h2><span>Mécanique</span></h2>
      </div>
      <div class="card">
        <img src="../../assets/car-repair.png" alt="" />
        <h2><span>Révision</span></h2>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-dark" style="margin: auto">
    Obtenir un devis
  </button>
</section>
<!--Sevices sliders-->
<section class="sliders">
  <div class="container">
    <div class="testimonials">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row1">
              <div class="col-md-6">
                <div class="img-text">
                  <h2></h2>
                </div>
                <div class="img-area">
                  <img src="../../assets/batterie.png" alt="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-area">
                  <div class="caption-area">
                    <h5>
                      <span
                        >La batterie permet de démarrer le moteur, mais elle
                        alimente également la totalité du circuit électrique de
                        votre véhicule.</span
                      >
                    </h5>
                  </div>
                  <div class="para-area">
                    <p>
                      La batterie est un élément majeur du circuit électrique,
                      mais elle s’use et perd de son efficacité au bout de
                      quelques années. Son rôle, stocker l’énergie électrique
                      afin de permettre un fonctionnement optimal de tous les
                      éléments de sécurité et de confort. Démarreur bien sûr,
                      mais aussi feux, clignotants, essuie-glaces, pompe à
                      essence, instruments de bord, climatisation, désembuage,
                      autoradio…
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row1">
              <div class="col-md-6">
                <div class="img-text">
                  <h2></h2>
                </div>
                <div class="img-area">
                  <img src="../../assets/vidange.png" alt="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-area">
                  <div class="caption-area">
                    <h5>
                      <span
                        >Les lubrifiants, garants d’un fonctionnement moteur
                        optimal.</span
                      >
                    </h5>
                  </div>
                  <div class="para-area">
                    <p>
                      L’huile moteur est un élément essentiel de votre moteur,
                      car il permet de réduire le frottement et l’usure des
                      pièces en mouvement et contribue également à la bonne
                      étanchéité des pistons dans les cylindres. Autre rôle de
                      l’huile, le refroidissement de la mécanique, qui peut
                      ainsi fonctionner à une température optimale.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row1">
              <div class="col-md-6">
                <div class="img-text">
                  <h2></h2>
                </div>
                <div class="img-area">
                  <img src="../../assets/pn.png" alt="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-area">
                  <div class="caption-area">
                    <h5>
                      <span
                        >Pneumatiques : le lien essentiel à ne pas
                        négliger</span
                      >
                    </h5>
                  </div>
                  <div class="para-area">
                    <p>
                      Inchangé depuis sa création mais en constante évolution,
                      le pneumatique reste un organe de sécurité majeur,
                      puisqu’il constitue le seul lien entre la voiture et la
                      route. Il garantit une bonne adhérence même sur chaussée
                      mouillée, une tenue de route irréprochable en virages, un
                      freinage efficace mais aussi un confort de conduite.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row1">
              <div class="col-md-6">
                <div class="img-text">
                  <h2></h2>
                </div>
                <div class="img-area">
                  <img src="../../assets/vis.png" alt="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-area">
                  <div class="caption-area">
                    <h5>
                      <span>Bien voir et être bien vu par tous les temps</span>
                    </h5>
                  </div>
                  <div class="para-area">
                    <p>
                      Bien voir et être bien vu, c’est une des règles de base à
                      respecter afin de rouler sans risques. Les feux de
                      position, de croisement et de route, les feux de
                      brouillard ainsi que les indicateurs de direction et les
                      essuie-glaces avant et arrière, le cas échéant, forment
                      une équipe essentielle pour votre sécurité et votre
                      confort visuel. Notamment la nuit et en cas de mauvaise
                      météo !
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row1">
              <div class="col-md-6">
                <div class="img-text">
                  <h2></h2>
                </div>
                <div class="img-area">
                  <img src="../../assets/fri.png" alt="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-area">
                  <div class="caption-area">
                    <h5>
                      <span
                        >Un freinage efficace pour une parfaite maîtrise de
                        votre véhicule</span
                      >
                    </h5>
                  </div>
                  <div class="para-area">
                    <p>
                      Lorsque vous conduisez, les sollicitations du système de
                      freinage sont très fréquentes, notamment en milieu urbain.
                      Pour préserver des freinages efficaces et de bonnes
                      distances de sécurité, il est primordial de changer les
                      pièces d’usure régulièrement.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row1">
              <div class="col-md-6">
                <div class="img-text">
                  <h2></h2>
                </div>
                <div class="img-area">
                  <img src="../../assets/fri.png" alt="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-area">
                  <div class="caption-area">
                    <h5>
                      <span
                        >Un élément de confort et de sécurité, hiver comme été
                        !</span
                      >
                    </h5>
                  </div>
                  <div class="para-area">
                    <p>
                      Comme un réfrigérateur, le système d’air climatisé
                      fonctionne grâce à un gaz frigorigène envoyé dans un
                      circuit via un compresseur, ce qui permet de refroidir
                      l’air ambiant et d’évacuer la chaleur. Là s’arrête la
                      comparaison , car une climatisation automobile est un
                      système complexe qui réclame un contrôle régulier
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row1">
              <div class="col-md-6">
                <div class="img-text">
                  <h2></h2>
                </div>
                <div class="img-area">
                  <img src="../../assets/ech.png" alt="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-area">
                  <div class="caption-area">
                    <h5>
                      <span
                        >Un élément essentiel qui préserve les performances, le
                        niveau sonore et contribue à la protection de
                        l’environnement.</span
                      >
                    </h5>
                  </div>
                  <div class="para-area">
                    <p>
                      Bon fonctionnement du moteur, performances, niveau sonore,
                      rejets polluants maîtrisés… La ligne d’échappement, est un
                      élément essentiel de votre véhicule, elle subit de très
                      fortes contraintes thermiques et mécaniques au cours de sa
                      vie. Les hautes températures des gaz d’échappement, qui
                      peuvent dépasser les 900 degrés, ainsi que leur acidité
                      attaquent les parois métalliques internes des tubes,
                      silencieux, pot de détente, catalyseurs et sonde lambda.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row1">
              <div class="col-md-6">
                <div class="img-text">
                  <h2></h2>
                </div>
                <div class="img-area">
                  <img src="../../assets/cntrl.png" alt="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-area">
                  <div class="caption-area">
                    <h5>
                      <span
                        >Pour éviter les désagréments et le coût d’une
                        contre-visite</span
                      >
                    </h5>
                  </div>
                  <div class="para-area">
                    <p>
                      Le contrôle technique, c’est la «visite médicale»
                      régulière de votre véhicule ! Il s’agit d’une obligation
                      imposée par la loi, sous peine d’amende, assortie dans
                      certains cas d’une interdiction de circuler avec le
                      véhicule en question ! Tous les véhicules particuliers et
                      utilitaires de moins de 3,5 tonnes sont concernés, dès
                      leurs troisième année, puis tous les ans.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row1">
              <div class="col-md-6">
                <div class="img-text">
                  <h2></h2>
                </div>
                <div class="img-area">
                  <img src="../../assets/mec.png" alt="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-area">
                  <div class="caption-area">
                    <h5>
                      <span>
                        Toutes les interventions sont possibles sur votre
                        véhicule, quelle que soit sa marque</span
                      >
                    </h5>
                  </div>
                  <div class="para-area">
                    <p>
                      Avec un suivi personnalisé, des conseils et toujours un
                      rapport qualité/compétence/prix qui fait la différence !
                      En cas de panne, de casse ou après un accident, tout au
                      long du cycle de vie de votre véhicule, Eurorepar Car
                      Service vous propose son expertise afin d’intervenir
                      rapidement et efficacement. Grâce à notre parfaite
                      connaissance de votre véhicule, quelle que soit sa marque.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>
<!--Fin Sevices sliders-->

<section class="clients">
  <hr />
  <div class="sponsors">
    <img src="../../assets/audi.png" alt="" />
    <img src="../../assets/volks.png" alt="" />
    <img src="../../assets/hyn.png" alt="" />
    <img src="../../assets/peu.png" alt="" />
    <img src="../../assets/mercedes.png" alt="" />
    <img src="../../assets/kia.png" alt="" />
    <img src="../../assets/bmw.png" alt="" />
  </div>
  <hr />
</section>

<section class="offer">
  <div class="row">
    <div class="col">
      <div class="oil">
        <img src="../../assets/oil.jpg" alt="" />
      </div>
    </div>
    <div class="col">
      <div class="reduction">
        <h2><span>-Offre spécial-</span></h2>
        <div class="ph1">
          <p>Visiter notre boutique pour bénéficier de</p>
        </div>
        <div class="ph2">
          <span>30% de réduction</span>
        </div>
        <div class="ph3">
          <p>sur tous les produits disponibles !</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact">
  <div class="row">
    <div class="col col-md-6">
      <div class="info">
        <div class="con">
          <h2>Contactez nous</h2>
          <p>
            Si vous souhaitez obtenir des informations sur MCCS ou être contacté
            par notre service Relation Clientèle, nous vous invitons à
            renseigner le formulaire ou nous joindre au numéro suivant : (+216)
            75 624 085
          </p>
        </div>
        <div class="horaire">
          <h2>Notre horaire</h2>
          <ul>
            <li>Lu - Ven : 8h-20h</li>
            <li>Samedi : 8h-12h</li>
            <li>Dimanche : --</li>
          </ul>
        </div>
        <div class="info-box">
          <div>
            <span><ion-icon name="location"></ion-icon></span>
            Z.I Route Bengerdaner Km4,Médnine
          </div>
          <div>
            <span><ion-icon name="mail"></ion-icon></span>
            <a href="mccssociete@gmail.com">mccssociete&#64;gmail.com</a>
          </div>
          <div>
            <span><ion-icon name="call"></ion-icon></span>
            <a href="(+216)25528901">(+216)51 034 287</a>
          </div>
        </div>
        <div class="media">
          <a href="https://www.facebook.com/"
            ><ion-icon name="logo-facebook"></ion-icon
          ></a>
          <a href="https://www.instagram.com/"
            ><ion-icon name="logo-instagram"></ion-icon
          ></a>
          <a href="https://www.linkedin.com/"
            ><ion-icon name="logo-linkedin"></ion-icon
          ></a>
          <a href=""><ion-icon name="link"></ion-icon></a>
        </div>
      </div>
    </div>
    <div class="col col-md-6">
      <div class="forum">
        <form>
          <div class="row">
            <div class="column">
              <label for="name">Nom*</label>
              <input type="text" id="name" placeholder="Votre nom ici" />
            </div>
            <div class="column">
              <label for="name">Prénom*</label>
              <input type="text" id="name" placeholder="Votre prénom ici" />
            </div>
            <div class="column">
              <label for="email">E-Mail*</label>
              <input
                type="email"
                id="email"
                placeholder="Votre adresse e-mail ici"
              />
            </div>
          </div>
          <div class="row">
            <div class="column">
              <label for="subject">Objet*</label>
              <input type="text" id="subject" placeholder="Votre objet ici" />
            </div>
            <div class="column">
              <label for="contact">Téléphone*</label>
              <input
                type="tel"
                id="contact"
                placeholder="Votre numéro de téléphone ici"
              />
            </div>
          </div>
          <div class="row">
            <div class="column">
              <label for="issue">Message*</label>
              <textarea
                id="issue"
                placeholder="Décrivez votre problème en détail ici"
                rows="3"
              ></textarea>
            </div>
          </div>
          <button type="button" class="btn btn-dark">Envoyer</button>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="local">
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3332.8739759360396!2d10.522125374752845!3d33.34824207343011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1254d7319b732f9f%3A0x120bcbc02560e1a4!2sVolkswagen%20medenine!5e0!3m2!1sfr!2stn!4v1706104347178!5m2!1sfr!2stn"
      width="1345"
      height="400"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    >
    </iframe>
  </div>
</section>
<section>
  <div class="testimonial-section">
    <h2><span>Témoignages de nos Clients</span></h2>
    <div class="test-sec">
      <div class="testimonial-box">
        <p>
          <span>&ldquo;</span>Service rapide, transparent et professionnel. Ils
          sont désormais mon interlocuteur pour tout problème de voiture.
        </p>
        <p><strong> Ahmed Mannai</strong></p>
      </div>

      <div class="testimonial-box">
        <p>
          <span>&ldquo;</span>Merci à MCCS, Communication transparente, prix
          équitable et une équipe en qui je peux faire confiance.
        </p>
        <p><strong>Iyed Harrazi</strong></p>
      </div>

      <div class="testimonial-box">
        <p>
          <span>&ldquo;</span>MCCS est le meilleur ! Rapide, fiable . Je les
          recommande vivement pour toute réparation automobile.
        </p>
        <p><strong>Sadek Belhej</strong></p>
      </div>
    </div>
  </div>
</section>
<section class="avis">
  <h3>Votre satisfaction, notre priorité!</h3>
  <div class="ecrire">
    <label for="exampleFormControlInput1" class="form-label"
      ><span>Merci de partagez votre avis :</span></label
    >
    <div class="elements">
      <input
        type="text"
        class="form-control"
        id="exampleFormControlInput1"
        [(ngModel)]="avis"
      />

      <button type="button" class="btn btn-dark" (click)="envoyerAvis()">
        Envoyé
      </button>
    </div>
  </div>
</section>
